.character-card {
    position: relative;
    background-size: 40% 120%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}
.character-card-content {
    margin-top: 70px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 120px;
    margin-bottom: 60px;
}
.character-image {
    width: 50px;
}