.quest-card {
    position: relative;
    background-size:80% 100%;
    background-repeat: no-repeat;
    background-position: center;   
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}

.quest-card-content {
    margin-top: 70px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 120px;
    margin-bottom: 60px;
}

.quest-image-container {
    position: relative;
    margin-bottom: 12px;
    border-radius: 12px;
    overflow: hidden;
    border: 4px solid #78350f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;  
    width: 70%;
}

.quest-image {
    width: 100%;
    height: 140px;
    object-fit: cover;
    display: block;
}

.quest-image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    padding: 12px;
}

.quest-title {
    font-size: 20px;
    font-weight: bold;
    color: #fde68a;
    margin: 0 0 4px 0;
}

.quest-subtitle {
    font-size: 13px;
    color: #fde68a;
    margin: 0;
}

.quest-description {
    color: #78350f;
    margin-top: -2px;
    font-weight: 500;
    font-size: 14px;
    flex-shrink: 0;
}

.progress-label {
    font-size: 13px;
    color: #92400e;
    margin-top: -2px;
    font-weight: 600;
    flex-shrink: 0;
}

.quest-progress {
    margin-bottom: 12px;
    flex-shrink: 0;
}


.quest-footer {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-right: 120px;
    align-items: center;
    flex-shrink: 0;
}



