.house-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.house-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.house-npc-section {
  position: fixed;
  bottom: 0;
  left: 40px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 420px;
}

.house-npc-image {
  height: 320px;
  object-fit: contain;
  position: relative;
  z-index: 1;
  margin-bottom: -100px;
  margin-left: 20px;
}

.house-dialogue {
  width: 380px;  /* reduce from 1000px to fit the screen properly */
  margin-bottom: 50px;
  position: relative;
  z-index: 10;
}

/* Next Arrow Button */
.dialogue-next-btn {
  position: absolute;
  bottom: -20px;
  margin-left: 320px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 12;
  transition: transform 0.2s ease;
}

.dialogue-next-btn:hover {
  transform: scale(1.15);
}

.dialogue-arrow-img {
  width: 36px;
  height: 36px;
  object-fit: contain;
}


/* Yes / No Choices */
.dialogue-choices {
  gap: 10px;
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
}
