.sentence-completion-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.submit-button-quiz {
  margin: 0 auto;
  display: block;
}
.guide-dialogue-box{
  margin: 10px;
}
