.quiz-page-container {
  background-image: url('../../../assets/images/environments/Vocabulary/well-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}