/* CharacterCard.css */
.character-frame {
    position: relative;
    width: 120%;
    height: 100%;
}

.card-frame {
    position: absolute;
    top: -30px;
    left: -3%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
}

.character-image {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto;
    max-height: 85%;
    object-fit: contain;
    z-index: 2;
}

@media (max-width: 1024px) {
    .btn-character-card {
        width: 300px;
        height: 360px;
    }
}