.instructions-page {
  min-height: 100vh;
  background: url('../../../assets/images/dashboard.png') no-repeat center center/cover;
  position: relative;
  overflow: hidden;
}

.back-button-instructions {
  position: absolute;
  top: 30px;
  left: 40px;
  z-index: 20;
}

/* Decorative Clouds */
.decorative-clouds {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}

.cloud {
  position: absolute;
  background: white;
  opacity: 0.3;
  border-radius: 100px;
}

.cloud::before,
.cloud::after {
  content: '';
  position: absolute;
  background: white;
  border-radius: 100px;
}

.cloud-1 {
  width: 100px;
  height: 40px;
  top: 10%;
  left: 10%;
  animation: float 20s infinite ease-in-out;
}

.cloud-1::before {
  width: 50px;
  height: 50px;
  top: -25px;
  left: 10px;
}

.cloud-1::after {
  width: 60px;
  height: 40px;
  top: -15px;
  right: 10px;
}

.cloud-2 {
  width: 120px;
  height: 50px;
  top: 30%;
  right: 15%;
  animation: float 25s infinite ease-in-out 5s;
}

.cloud-2::before {
  width: 60px;
  height: 60px;
  top: -30px;
  left: 15px;
}

.cloud-2::after {
  width: 70px;
  height: 50px;
  top: -20px;
  right: 15px;
}

.cloud-3 {
  width: 90px;
  height: 35px;
  bottom: 20%;
  left: 20%;
  animation: float 30s infinite ease-in-out 10s;
}

.cloud-3::before {
  width: 45px;
  height: 45px;
  top: -20px;
  left: 10px;
}

.cloud-3::after {
  width: 55px;
  height: 35px;
  top: -15px;
  right: 10px;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media (max-width: 768px) {
  .back-button-instructions {
    top: 20px;
    left: 20px;
  }
}