.language-card {
  width: 500px;
  height: 450px;
  background-image: url('../../../assets/images/cards.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

/* Inner content */
.language-card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  z-index: 2;
  text-align: center;
}
.next-btn {
  width: 100px;
  display: block;
  margin: 0 auto;  
}
