.house-container {
  position: relative; /* IMPORTANT for absolute positioning */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.house-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.house-npc-section {
  position: fixed;
  bottom: 0;
  left: 40px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 420px;
}

.house-npc-image {
  height: 300px;
  /*object-fit: contain;*/
  position: relative;
  z-index: 1;
  margin-bottom: 300px;
  margin-left: 20px;
}

.house-dialogue {
  width: 380px;  /* reduce from 1000px to fit the screen properly */
  margin-bottom: 50px;
  position: relative;
  z-index: 10;
}

/* Next Arrow Button */
.dialogue-next-btn {
  position: absolute;
  bottom: -20px;
  margin-left: 320px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 12;
  transition: transform 0.2s ease;
}

.dialogue-next-btn:hover {
  transform: scale(1.15);
}

.dialogue-arrow-img {
  width: 36px;
  height: 36px;
  object-fit: contain;
}


/* Yes / No Choices */
.dialogue-choices {
  gap: 10px;
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
}

.trash-image {
  position: absolute;
  bottom: 10px;   /* move up/down */
  left: 500px;     /* move left/right */
  width: 150px;   /* resize image */
}

.broom-image {
  position: absolute;
  left: 390px;   /* adjust horizontally */
  bottom: 115px;  /* adjust vertically */
  width: 370px;   /* resize if needed */
}

.coconuthusk-image {
  position: absolute;
  bottom: 100px;
  right: 410px;
  width: 55px;
}

.spilledwater-image {
  position: absolute;
  bottom: 103px;
  right: 750px;
  width: 52px;
}

.rag2-image {
  position: absolute;
  bottom: 250px;
  left: 495px;
  width: 30px;
  cursor: pointer;
}

.game-item {
  transition: filter 0.2s ease, transform 0.2s ease;
  cursor: pointer;
}

.game-item:hover {
  filter: drop-shadow(0 0 12px #ffd700);
  transform: scale(1.05);
}